.a{
    width: 380px;
    /* height: 380px; */
    background-color: gainsboro;
    margin-left: 10%;
    margin-top: 10%;
    position: relative;
    border: 1px solid ;
    
    
    
    box-shadow:  -6px 3px 5px 1px black;

}
.button1 button{
    
    cursor: pointer;
    
}
.button1 button:hover{
    background-color:lightslategray;
    border-radius: 10px;
    
}


.b{
    width: 380px;
    /* height: 380px; */
    background-color: gainsboro;
    margin-left: 10%;
    margin-top: 1%;
    
    border: 1px solid ;
    position: relative;
    
    
    
    box-shadow:  -6px 3px 5px 1px black;

}
.button2 button{
    
    cursor: pointer;
    
}
.button2 button:hover{
    background-color:lightslategray;
    border-radius: 10px;
    
}



.c{
     width: 250px;
    height: 400px;
    background-color: gainsboro;
    position: absolute;

   top: 90px;
   right: 0;
    
    border: 1px solid ;
    
    
    
    box-shadow:  -6px 3px 5px 1px black;

}
.s{
  background-color: gainsboro;
  align-items: center;
  height: 90px;
  width: 250px;
  border-bottom: 2.5px solid;
  display: flex;
  align-items: center;
}
.s:hover{
  cursor: pointer;
}
.u:hover{
  cursor: pointer;
}

.m:hover{
  cursor: pointer;
}
.h:hover{
  cursor: pointer;
}

.u{
  background-color: gainsboro;
  height: 90px;
  width: 250px;
  border-bottom: 2.5px solid;
   display: flex;
  align-items: center;
}
.m{
  background-color: gainsboro;
  height: 90px;
  width: 250px;
  border-bottom: 2.5px solid;
   display: flex;
  align-items: center;
}
.h{
  background-color: gainsboro;
  height: 90px;
  width: 250px;
  border-bottom: 2.5px solid;
   display: flex;
  align-items: center;
}
.top{
  background-color: gainsboro;
  height:60px;
  width: 250px;
  border-bottom: 5px solid;
  margin-bottom: 0px;
}
.d{
 border: 1px solid;
width: 250px; 
background-color: gainsboro;
position: absolute;
right: 0;
top: 85%;
 box-shadow:  -6px 3px 5px 1px black;

}
body{
  background-color: rgb(0, 26, 255);
  background-image: url(background.jpg);
  background-size: cover;
 background-attachment: fixed;
  background-position: center;
}

 .btns button{
  margin-top: 25%;
 
  
 }
 
 
 .btns button:hover{
  background-color: rgb(12, 61, 61);
  cursor: pointer;
  border-radius: 10px;
 }

 .e{
  background-color: gainsboro;
  width: 250px;
  height: 150px;
  position: relative;
  border: 1px solid;
  position: absolute;
  right: 0;
  margin-top: 140px;
  box-shadow: -6px 3px 5px 1px black;

  
 }
 .last{
  height: 40px;
  background-color: rgb(141, 141, 190);
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom: 3px solid;
 }


.f{
  
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

}
.f button:hover{
  cursor: pointer;
  background-color:purple;
border-radius: 10px;
}